<!DOCTYPE html>
<html>
  <head>
    <title>Backbone Application Devolpment Starter</title>
    <!--My Utility Library -->
    <script src="scripts/underscore-1.8.3.js"></script>
    <!--My Selector Engine -->
    <script src="scripts/jquery-3.1.0.js"></script>
    <script src="scripts/backbone-1.3.3.js"></script>
  </head>
  <body>
    <div id="display">
      <div class="listing">Houston, we have a problem.</div>
    </div>
    <script id="template-contact" type="template">
      <div class="contact">
        <h2><%-firstName%><% if (lastName) { %> <%-lastName%><% } %></h2>
        <a href="mailto:<%-email%>"><%-email%></a><br />
        <a href="tel:<%-phoneNumber%>"><%-phoneNumber%></a><br />
        <button class="delete">Delete</button>
      </div>
    </script>
  </body>
  <script src="scripts/main.js"></script>
  <script src="scripts/models/contact.js"></script>
  <script src="scripts/collections/contact.js"></script>
  <script src="scripts/views/contact.js"></script>
  <script src="scripts/views/directory.js"></script>
</html>
